<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CardChecker</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div class="card" id="app">

        <!-- Здесь будет выводиться ЛОГОТИП БАНКА -->
        <div class="bank">
            <img v-bind:src="bank">
        </div>

        <!-- Поле для ввода НОМЕРА КАРТЫ -->
        <div class="number-container">
            <input v-bind:class="stats" type="text" placeholder="Номер карты" v-model="number">
            <div v-bind:class="stat"></div>
        </div>

        <!-- Поле для ввода ИМЕНИ ДЕРЖАТЕЛЯ -->
        <div class="name-container">
            <input v-bind:class="statst" type="text" placeholder="Имя держателя" v-model="name">
            <div v-bind:class="statt"></div>
        </div>

        <!-- Логотип ПЛАТЕЖНОЙ СИСТЕМЫ -->
        <div class="pay-system">
            <img v-bind:src="system">
        </div>

    </div>
    <script>
        'use strict'
        const app = Vue.createApp({
            data: () => ({
                number: "",
                name: "",
            }),
            computed: {
                system(){
                    if (this.number[0] == String(2)){
                        return "img/systems/mir.png";
                    } else if (this.number[0] == String(3)){
                        return "img/systems/american-exp.png";
                    }  else if (this.number[0] == String(4)){
                        return "img/systems/visa.png";
                    }  else if (this.number[0] == String(5)){
                        return "img/systems/mastercard.png";
                    }  else if (this.number[0] == String(6)){
                        return "img/systems/maestro.png";
                    } else {
                        return "";
                    }
                },
                bank(){
                    const alpha = [521178, 548673, 548601, 415428, 676371, 477964, 479004]
                    let vtb = [427229, 527883, 447520]
                    let gazprom = [548999, 526483]
                    let mts_bank = [533736, 540616]
                    let otkrytie = [434146, 405870, 544573, 532301]
                    let rosbank = [440503, 554761]
                    let rus_standart = [513691, 510047]
                    let raifaz = [462730, 462729]
                    let sber = [427683, 427901, 427644, 427601, 427901, 427631, 427638, 546938]
                    let tincoff = [521324, 437773]

                    if (this.number.length < 6) return "img/banks/logo.png"

                    for (var i = 0; i < alpha.length; i++){
                        if (String(alpha[i]) == this.number.substring(0, 6)){
                            return "img/banks/alpha.png"
                        }
                    }
                    for (var i = 0; i < gazprom.length; i++){
                        if (String(gazprom[i]) == this.number.substring(0, 6)){
                            return "img/banks/gazprombank.png"
                        }
                    }
                    for (var i = 0; i < mts_bank.length; i++){
                        if (String(mts_bank[i]) == this.number.substring(0, 6)){
                            return "img/banks/mts-bank.png"
                        }
                    }
                    for (var i = 0; i < otkrytie.length; i++){
                        if (String(otkrytie[i]) == this.number.substring(0, 6)){
                            return "img/banks/otkrytie.png"
                        }
                    }
                    for (var i = 0; i < raifaz.length; i++){
                        if (String(raifaz[i]) == this.number.substring(0, 6)){
                            return "img/banks/raiffaizen.png"
                        }
                    }
                    for (var i = 0; i < rosbank.length; i++){
                        if (String(rosbank[i]) == this.number.substring(0, 6)){
                            return "img/banks/rosbank.png"
                        }
                    }
                    for (var i = 0; i < rus_standart.length; i++){
                        if (String(rus_standart[i]) == this.number.substring(0, 6)){
                            return "img/banks/russian_standart.png"
                        }
                    }
                    for (var i = 0; i < sber.length; i++){
                        if (String(sber[i]) == this.number.substring(0, 6)){
                            return "img/banks/sberbank.png"
                        }
                    }
                    for (var i = 0; i < tincoff.length; i++){
                        if (String(tincoff[i]) == this.number.substring(0, 6)){
                            return "img/banks/tinkoff.png"
                        }
                    }
                    for (var i = 0; i < vtb.length; i++){
                        if (String(vtb[i]) == this.number.substring(0, 6)){
                            return "img/banks/vtb.png"
                        }
                    }
                    return "img/banks/logo.png"
                },
                stat(){
                    var s = 0
                    for (var i = this.number.length - 1; i > -1; i--){
                        if ((this.number.length - i) % 2 == 1) s += Number(this.number[i])
                        else if (Number(this.number[i]) * 2 > 9){
                            s += Number(this.number[i]) * 2 % 10 + (Number(this.number[i]) * 2 - Number(this.number[i]) * 2 % 10)/ 10
                        } else {
                            s += Number(this.number[i]) * 2
                        }
                    }
                    if (s % 10 == 0 && this.number.length == 16){
                        return "status status-ok"
                    } else{
                        return "status status-err"
                    }
                },
                stats(){
                    var s = 0
                    for (var i = this.number.length - 1; i > -1; i--){
                        if ((this.number.length - i) % 2 == 1) s += Number(this.number[i])
                        else if (Number(this.number[i]) * 2 > 9){
                            s += Number(this.number[i]) * 2 % 10 + (Number(this.number[i]) * 2 - Number(this.number[i]) * 2 % 10)/ 10
                        } else {
                            s += Number(this.number[i]) * 2
                        }
                    }
                    if (s % 10 == 0 && this.number.length == 16){
                        return "input-ok"
                    } else{
                        return "input-err"
                    }
                },
                statt(){
                    const w = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ';
                    for (var j = 0; j < this.name.length; j++){
                        var flag = false;
                        for (var i = 0; i < w.length; i++){
                            if (w[i] == this.name[j]){
                                flag = true
                            }
                        }
                        if (!flag) return "status status-err"
                    }
                    return "status status-ok"
                },
                statst(){
                    const w = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ';
                    for (var j = 0; j < this.name.length; j++){
                        var flag = false;
                        for (var i = 0; i < w.length; i++){
                            if (w[i] == this.name[j]){
                                flag = true
                            }
                        }
                        if (!flag) return "input-err"
                    }
                    return "input-ok"
                }
            }
        })
        const vm = app.mount('#app');
     </script>
</body>
</html>