<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CardChecker</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div class="card" id="app">

        <!-- Здесь будет выводиться ЛОГОТИП БАНКА -->
        <div class="bank">
            <img :src="bank">
        </div>

        <!-- Поле для ввода НОМЕРА КАРТЫ -->
        <div class="number-container">
            <input :class="stats" type="text" placeholder="Номер карты" v-model="number">
            <div :class="stat"></div>
        </div>

        <!-- Поле для ввода ИМЕНИ ДЕРЖАТЕЛЯ -->
        <div class="name-container">
            <input :class="statst" type="text" placeholder="Имя держателя" v-model="name">
            <div :class="statt"></div>
        </div>

        <!-- Логотип ПЛАТЕЖНОЙ СИСТЕМЫ -->
        <div class="pay-system">
            <img :src="system">
        </div>

    </div>
    <script>
        'use strict'
        const app = Vue.createApp({
            data: () => ({
                number: "",
                name: "",
            }),
            computed: {
                system(){
                    const num = this.number[0];
                    switch (num){
                        case "2":
                            return "img/systems/mir.png";
                            break;
                        case "3":
                            return "img/systems/american-exp.png";
                            break;
                        case "4":
                            return "img/systems/visa.png";
                            break;
                        case "5":
                            return "img/systems/mastercard.png";
                            break;
                        case "6":
                            return "img/systems/maestro.png";
                            break;
                        default:
                            return "";
                            break;
                    }
                },
                bank(){
                    const alpha = [521178, 548673, 548601, 415428, 676371, 477964, 479004]
                    const vtb = [427229, 527883, 447520]
                    const gazprombank = [548999, 526483]
                    const mts_bank = [533736, 540616]
                    const otkrytie = [434146, 405870, 544573, 532301]
                    const rosbank = [440503, 554761]
                    const russian_standart = [513691, 510047]
                    const raiffaizen = [462730, 462729]
                    const sberbank = [427683, 427901, 427644, 427601, 427901, 427631, 427638, 546938]
                    const tinkoff = [521324, 437773]

                    if (this.number.length < 6) return "img/banks/logo.png"
                    const substr = this.number.substring(0, 6)

                    for (let i = 0; i < sberbank.length; i++){
                        if (alpha.length > i && String(alpha[i]) == substr){
                            return "img/banks/alpha.png"
                        } else if (gazprombank.length > i && String(gazprombank[i]) == substr){
                            return "img/banks/gazprombank.png"
                        } else if (mts_bank.length > i && String(mts_bank[i]) == substr){
                            return "img/banks/mts-bank.png"
                        } else if (otkrytie.length > i && String(otkrytie[i]) == substr){
                            return "img/banks/otkrytie.png"
                        } else if (raiffaizen.length > i && String(raiffaizen[i]) == substr){
                            return "img/banks/raiffaizen.png"
                        } else if (rosbank.length > i && String(rosbank[i]) == substr){
                            return "img/banks/rosbank.png"
                        } else if (russian_standart.length > i && String(russian_standart[i]) == substr){
                            return "img/banks/russian_standart.png"
                        } else if (sberbank.length > i && String(sberbank[i]) == substr){
                            return "img/banks/sberbank.png"
                        } else if (tinkoff.length > i && String(tinkoff[i]) == substr){
                            return "img/banks/tinkoff.png"
                        } else if (vtb.length > i && String(vtb[i]) == substr){
                            return "img/banks/vtb.png"
                        } 
                    }
                    return "img/banks/logo.png"
                },
                stat(){
                    var s = 0
                    for (var i = this.number.length - 1; i > -1; i--){
                        if ((this.number.length - i) % 2 == 1) s += Number(this.number[i])
                        else if (Number(this.number[i]) * 2 > 9){
                            s += Number(this.number[i]) * 2 % 10 + (Number(this.number[i]) * 2 - Number(this.number[i]) * 2 % 10)/ 10
                        } else {
                            s += Number(this.number[i]) * 2
                        }
                    }
                    if (s % 10 == 0 && this.number.length == 16){
                        return "status status-ok"
                    } else{
                        return "status status-err"
                    }
                },
                stats(){
                    var s = 0
                    for (var i = this.number.length - 1; i > -1; i--){
                        if ((this.number.length - i) % 2 == 1) s += Number(this.number[i])
                        else if (Number(this.number[i]) * 2 > 9){
                            s += Number(this.number[i]) * 2 % 10 + (Number(this.number[i]) * 2 - Number(this.number[i]) * 2 % 10)/ 10
                        } else {
                            s += Number(this.number[i]) * 2
                        }
                    }
                    if (s % 10 == 0 && this.number.length == 16){
                        return "input-ok"
                    } else{
                        return "input-err"
                    }
                },
                statt(){
                    const w = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ';
                    for (var j = 0; j < this.name.length; j++){
                        var flag = false;
                        for (var i = 0; i < w.length; i++){
                            if (w[i] == this.name[j]){
                                flag = true
                            }
                        }
                        if (!flag) return "status status-err"
                    }
                    return "status status-ok"
                },
                statst(){
                    const w = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ';
                    for (var j = 0; j < this.name.length; j++){
                        var flag = false;
                        for (var i = 0; i < w.length; i++){
                            if (w[i] == this.name[j]){
                                flag = true
                            }
                        }
                        if (!flag) return "input-err"
                    }
                    return "input-ok"
                }
            }
        })
        const vm = app.mount('#app');
     </script>
</body>
</html>